<div class="banner-poopspace">
  <div>
    <h1>Welcome <%= current_user.email %></h1>
    <h2>Your Poopspace is where you can manage all of your bodily needs!</h2>
  </div>
</div>

  <div class="banner-poopspace">
    <div>
      <h1>Here are your toilets!</h1>
    </div>
    <br>
    <ol class="d-flex">
      <% @toilets.each do |toilet| %>
        <ul>
          <div class="card-trip">
            <%= link_to image_tag("https://www.thegazette.com/storyimage/GA/20181124/ARTICLE/181129809/AR/0/AR-181129809.jpg&MaxH=250&MaxW=450", alt: "alttext", class: "card-img-top"), toilet_path(toilet)  %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to toilet.name, toilet_path(toilet) %></h2>
                <p><%= toilet.description %></p>
              </div>
              <h2 class="card-trip-pricing">$<%= toilet.rate %> / min</h2>
              <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/ssaunier", alt: "alttext", class: "card-trip-user avatar-bordered"), "#" %>
            </div>
          </div>
        </ul>
      <% end %>
    </ol>
  </div>

  <%= render '/shared/toilet_form' %>

<div class='booking-card-container'>
  <div>
    <h1>Here are your bookings!</h1>
  </div>
  <br>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <div class='booking-card-sm d-flex flex-column align-items-start'>
          <img src="http://luxurylaunches.com/wp-content/uploads/2016/09/18-carat-gold-toilet-Guggenheim-Museum-1170x658.jpg">
          <h2><%= booking.toilet.name %></h2>
          <div class='booking-card-sm-details'>
            <p><%= booking.toilet.address %></p>
            <p><%= booking.check_in %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

