<div class="banner" style="background-image:url(https://image.redbull.com/rbcom/010/2015-05-07/1331721593940_2/0010/1/2050/1367/1/a-remote-outhouse-in-the-cascade-mountains-in-washington-state-usa.jpg);">
  <div class="profile-container">
    <div>
      <div class='profile-card card-padding'>
        <div class='profile-picture border-bottom'>
          <%= cl_image_tag @user.photo.url, class:'avatar-huge' %>
        </div>
        <div class='border-bottom card-padding'>
          <span>
            <% review_count = 0 %>
            <% @bookings.each do |booking| %>
              <% review_count += booking.reviews.length %>
            <% end %>
            <%= @user.reviews.length + review_count %> Reviews
          </span>
        </div>
        <div class='card-padding'>
          <span>Joined in <%= @user.created_at.to_s.match(/^\d+/) %>
          </span>
        </div>
      </div>
    </div>
    <div class='profile-description-card'>
      <div class='border-bottom'>
        <h2 class="text-white"><%= @user.first_name%> <%= @user.last_name %></h2>
      </div>
      <div class='user-listings'>
        <h2 class="text-white">Listings</h2>
        <% @toilets.each do |toilet| %>
        <div class="card rounded-lg">
          <div class="card-body d-flex justify-content-between rounded-lg">
            <div>
            <h4 class="card-title"><%= link_to toilet.name, toilet_path(toilet) %></h3>
            <p class="card-text"><%= toilet.description %></p>
            <p class="card-text"><small class="text-muted">$<%= toilet.rate %> / min</small></p>
            </div>
            <div>
            <% if toilet.photo.url.nil? %>
                <%= link_to image_tag("https://www.thegazette.com/storyimage/GA/20181124/ARTICLE/181129809/AR/0/AR-181129809.jpg&MaxH=250&MaxW=450", alt: "alttext", style: "width: 200px", class: "rounded float-right"), toilet_path(toilet)  %>
              <% else %>
                <%= link_to cl_image_tag(toilet.photo.url, alt: "alttext", style: "width: 200px; height: 150px",class: "rounded float-right"), toilet_path(toilet)  %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




