<div class="banner-poopspace">
  <div>
    <h1>Welcome <%= current_user.first_name %></h1>
    <h2>Your Poopspace is where you can manage all of your bodily needs!</h2>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class='d-flex flex-column justify-content-between'>
    <div class="poopspace-container d-flex border-bottom">
      <div class="listings">
        <div class='d-flex justify-content-start mb-2'>
          <h1>Here are your Bookings!</h1>
          <div class='d-flex align-items-center ml-2'>
          </div>
        </div>
        <div class="listings-cards-container justify-content-start">
          <% @bookings.each do |booking| %>
            <div class="card-trip">
              <% if booking.toilet.photo.url.nil? %>
                <%= link_to image_tag("http://luxurylaunches.com/wp-content/uploads/2016/09/18-carat-gold-toilet-Guggenheim-Museum-1170x658.jpg", alt: "alttext", class: "card-img-top"), booking_path(booking.id) %>
              <% else %>
                <%= link_to image_tag(booking.toilet.photo.url, alt: "alttext", class: "card-img-top"), booking_path(booking.id) %>
              <% end %>

              <div class="card-trip-infos">
                <div>
                  <h2><%= booking.toilet.name %></h2>
                  <p><%= booking.toilet.address %></p>
                </div>
                <h2 class="card-trip-pricing"><%= booking.check_in %></h2>
                <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/ssaunier", alt: "alttext", class: "card-trip-user avatar-bordered"), poopspace_user_path(booking.toilet.user_id) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="poopspace-container d-flex">
      <div class="listings">
        <div class='d-flex justify-content-start mb-2'>
          <h1>Here are your Listings!</h1>
          <div class='d-flex align-items-center ml-2'>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#listToilet" data-whatever="@mdo">List A Toilet</button>
          </div>
        </div>
        <div class="listings-cards-container justify-content-start">
          <% @toilets.each do |toilet| %>
            <div class="card-trip">
              <% if toilet.photo.url.nil? %>
                <%= link_to image_tag("https://www.thegazette.com/storyimage/GA/20181124/ARTICLE/181129809/AR/0/AR-181129809.jpg&MaxH=250&MaxW=450", alt: "alttext", class: "card-img-top"), toilet_path(toilet)  %>
              <% else %>
                <%= link_to image_tag(toilet.photo.url, alt: "alttext", class: "card-img-top"), toilet_path(toilet)  %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to toilet.name, toilet_path(toilet) %></h2>
                  <p><%= toilet.description %></p>
                </div>
                <h2 class="card-trip-pricing">$<%= toilet.rate %> / min</h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="poopspace-container d-flex border-bottom">
      <div class="upcoming">
        <div class='d-flex justify-content-start mb-2'>
          <h1>Here are your Upcoming Guests!</h1>
          <div class='d-flex align-items-center ml-2'>
          </div>
        </div>
        <div class="listings-cards-container justify-content-start">
          <% @upcoming_bookings.each do |booking| %>
            <div class="card-trip">
              <%= link_to image_tag("http://luxurylaunches.com/wp-content/uploads/2016/09/18-carat-gold-toilet-Guggenheim-Museum-1170x658.jpg", alt: "alttext", class: "card-img-top"), booking_path(booking.id) %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= booking.toilet.name %></h2>
                  <p><%= booking.toilet.address %></p>
                  <p>$<%= booking.price %>
                </div>
                <h2 class="card-trip-pricing"><%= booking.check_in %></h2>
                <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/ssaunier", alt: "alttext", class: "card-trip-user avatar-bordered"), poopspace_user_path(booking.toilet.user_id) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='profile-container-super d-flex justify-content-center'>
    <div class="profile-container" style="margin-top:20px;">
      <div class='profile-card card-padding'>
        <div class='profile-picture border-bottom'>
          <%= cl_image_tag current_user.photo, class:'avatar-huge' %>
        </div>
        <div class='border-bottom card-padding'>
          <p>
            number of reviews
          </p>
        </div>
        <div class='card-padding'>
          <p>Joined in <%= @user.created_at %></p>
          <p>other stuff here</p>
        </div>
        <%= link_to 'Edit Profile', '#', class:'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="listToilet" tabindex="-1" role="dialog" aria-labelledby="listToilet" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listToiletLabel">List a Toilet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@toilet] do |f| %>
        <%= f.input :name, maxlength: 20, placeholder: 'Comfort Room', opacity: 3%>
        <%= f.input :description, placeholder: "World's Best Throne"%>
        <%= f.input :address, placeholder: '20 W 34th St, New York, NY 10001, USA'%>
        <%= f.input :rate, label: 'Cost per minute', placeholder: '$1' %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, 'List this toilet', class: 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>
</div>


