<h1>Welcome <%= current_user.email %></h1>

<h1>Here are your toilets!</h1>

<ol class="d-flex">
  <% @toilets.each do |toilet| %>
    <ul>
      <div class="card-trip">
        <%= link_to image_tag("https://www.thegazette.com/storyimage/GA/20181124/ARTICLE/181129809/AR/0/AR-181129809.jpg&MaxH=250&MaxW=450", alt: "alttext", class: "card-img-top"), toilet_path(toilet)  %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to toilet.name, toilet_path(toilet) %></h2>
            <p><%= toilet.description %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= toilet.rate %> / min</h2>
          <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/ssaunier", alt: "alttext", class: "card-trip-user avatar-bordered"), "#" %>
        </div>
      </div>
    </ul>
  <% end %>
</ol>


<h1>Here are your bookings!</h1>
<% @bookings.each do |booking| %>
  <h1><%= booking%></h1>
<% end %>
