<div class="banner-show">
  <div>
    <h1>Awesome! Book "<%= @toilet.name %>" now! </h1>
  </div>
</div>

<div class="card-trip">
  <%= link_to image_tag("https://www.thegazette.com/storyimage/GA/20181124/ARTICLE/181129809/AR/0/AR-181129809.jpg&MaxH=250&MaxW=450", alt: "alttext", class: "card-img-top"), toilet_path(@toilet)  %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @toilet.name %></h2>
      <p><%= @toilet.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= @toilet.rate %> / min</h2>
    <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/krokrob", alt: "alttext", class: "card-trip-user avatar-bordered"), "#" %>
  </div>
</div>

<%= render '/shared/booking_form' %>
