<div class="banner-show">
  <div>
    <h1>Awesome! Book "<%= @toilet.name %>" now! </h1>
  </div>
</div>

<div class="d-flex">
  <% if  @toilet.photo.url.nil? %>
    <%= link_to image_tag("https://www.thegazette.com/storyimage/GA/20181124/ARTICLE/181129809/AR/0/AR-181129809.jpg", alt: "alttext", style: "width:50vw; height: 40vw", class: "card-img-top"), toilet_path(@toilet)  %>
  <% else %>
    <%= link_to image_tag(@toilet.photo.url, alt: "alttext", style: "width:50vw; height: 40vw", class: "card-img-top"), toilet_path(@toilet)  %>
  <% end %>

  <div
    id="map"
  style="width: 50vw!important;
  height: 40vw;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
<br>
<br>
<div class="d-flex justify-content-between" style="width: 100vw;">
  <div class="card-trip m-3" style="width: 60vw;">
    <div class="card-trip-infos">
      <div>
        <h2><%= @toilet.name %></h2>
        <p><%= @toilet.description %></p>
        <p><%= @toilet.address %></p>
      </div>
      <h2 class="card-trip-pricing">$<%= @toilet.rate %> / min</h2>

    </div>
  </div>
  <%= render '/shared/booking_form' %>
</div>
